<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @workaround.key %>
</p>

<p>
  <b>Value:</b>
  <%= @workaround.value %>
</p>


<%= link_to 'Edit', edit_workaround_path(@workaround) %> |
<%= link_to 'Back', workarounds_path %>
