<% content_for :title, "Workaround #{@workaround.key}" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @workaround.key %>
</p>

<p>
  <b>Value:</b>
  <%= @workaround.value %>
</p>

<% if can?( :update, @workaround ) %>
    <%= link_to 'Edit', edit_workaround_path(@workaround) %> |
<% end %>
<%= link_to 'Back', workarounds_path %>
