<p>Common references</p>
<ul>
    <li><%= link_to "Mirrors", controller: 'mirrors', action: 'index' =%><%= " (empty)" if Mirror.all.size == 0 =%><%= " (#{Mirror.all.size} records)" if Mirror.all.size > 0 =%></li>
    <li><%= link_to "Build mirrors", controller: 'build_mirrors', action: 'index' =%></li>
    <li><%= link_to "Architectures", controller: 'arches', action: 'index' =%></li>
    <li><%= link_to "Languages", controller: 'languages', action: 'index' =%></li>
    <li><%= link_to "Releases", controller: 'releases', action: 'index' =%></li>
    <li><%= link_to "Workarounds", controller: 'workarounds', action: 'index' =%></li>
    <li><%= link_to "Repository types", controller: 'repository_types', action: 'index' =%></li>
    <li><%= link_to "Countries", controller: 'countries', action: 'index' =%></li>
</ul>
<p>System (don't touch it)</p>
<ul>
    <li><%= link_to "Repository variants", controller: 'repository_variants', action: 'index' =%></li>
    <li><%= link_to "Repository portion", controller: 'repository_portions', action: 'index' =%></li>
</ul>
