<%= form_for(@repository_variant) do |f| %>
  <% if @repository_variant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repository_variant.errors.count, "error") %> prohibited this repository_variant from being saved:</h2>

      <ul>
      <% @repository_variant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
