<% content_for :title, "Listing repository variants" %>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @repository_variants.each do |repository_variant| %>
  <tr>
    <td><%= repository_variant.name %></td>
    <td><%= repository_variant.url %></td>
    <td><% if can?( :read, repository_variant ) %> <%= link_to 'Show', repository_variant %> <% end %></td>
    <td><% if can?( :update, repository_variant ) %><%= link_to 'Edit', edit_repository_variant_path(repository_variant) %> <% end %></td>
    <td><% if can?( :destroy, repository_variant ) %><%= link_to 'Destroy', repository_variant, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %></td>
  </tr>
<% end %>
</table>

<br />

<% if can?( :create, RepositoryVariant ) %>
    <%= link_to 'New repository variant', new_repository_variant_path %>
<% end %>
