<% content_for :title, "Repository variant #{@repository_variant.name}" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @repository_variant.name %>
</p>

<p>
  <b>Url:</b>
  <%= @repository_variant.url %>
</p>

<% if can?( :update, @repository_variant ) %>
    <%= link_to 'Edit', edit_repository_variant_path(@repository_variant) %> |
<% end %>
<%= link_to 'Back', repository_variants_path %>
