<% content_for :title, "Repository portion #{@repository_portion.name}" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @repository_portion.name %>
</p>

<p>
  <b>Url part:</b>
  <%= @repository_portion.url_part %>
</p>


<% if can?( :create, @repository_portion ) %>
<%= link_to 'Edit', edit_repository_portion_path(@repository_portion) %> |
<% end %>
<%= link_to 'Back', repository_portions_path %>
