<%= form_for(@mirror) do |f| %>
  <% if @mirror.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mirror.errors.count, "error") %> prohibited this mirror from being saved:</h2>

      <ul>
      <% @mirror.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :country_code %><br />
    <%= if @mirror.new_record?
            f.collection_select :country_code, Country.all, :code, :name, {:selected => 'RU'}
        else
            f.collection_select :country_code, Country.all, :code, :name, {:selected => @mirror.country_code}
        end
        %>
  </div>
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
