<h1>Listing mirrors</h1>

<table style='padding:10px;'>
  <tr>
    <th>Url</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mirrors.each do |mirror| %>
  <tr>
    <td><%= mirror.url %></td>
    <td><%= mirror.description %></td>
    <td><%= link_to 'Show', mirror %></td>
    <td><%= link_to 'Edit', edit_mirror_path(mirror) %></td>
    <td><%= link_to 'Destroy', mirror, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mirror', new_mirror_path %>
