<% content_for :title, "Listing mirrors" %>

<table style='padding:10px;'>
  <tr>
    <th>Url</th>
    <th>Description</th>
    <th>Country</th>
    <th>Updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mirrors.each do |mirror| %>
  <tr>
    <td><%= mirror.url %></td>
    <td><%= mirror.description %></td>
    <td><%= mirror.country %></td>
    <td><%= mirror.updated_at.in_time_zone('Europe/Moscow') %></td>
    <% if can?( :read, mirror ) %>
        <td><%= link_to 'Show', mirror %></td>
    <% end %>
    <% if can? :update, mirror %>
        <td><%= link_to 'Edit', edit_mirror_path(mirror) %></td>
    <% end %>
    <% if can? :destroy, mirror %>
        <td><%= link_to 'Destroy', mirror, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Mirror %>
    <%= link_to 'New Mirror', new_mirror_path %>
<% end %>
