<% content_for :title, "Listing mirrors" %>

<table style='padding:10px;'>
  <tr>
    <th>Url</th>
    <th>Description</th>
    <th>Country</th>
    <th>User</th>
    <th>Updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mirrors.each do |mirror| %>
  <tr>
    <td><%= mirror.url %></td>
    <td><%= mirror.description %></td>
    <td><%= mirror.country %></td>
    <td><%= mirror.user_str %></td>
    <td><%= mirror.updated_at.in_time_zone('Europe/Moscow') %></td>
    <td><% if can?( :read, mirror ) %> <%= link_to 'Show', mirror %> <% end %></td>
    <td> <% if can?( :update, mirror ) and our_mirror?( mirror, current_user )%> <%= link_to 'Edit', edit_mirror_path(mirror) %> <% end %> </td>
    <td> <% if can?( :destroy, mirror ) and our_mirror?( mirror, current_user ) %> <%= link_to 'Destroy', mirror, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %></td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Mirror %>
    <%= link_to 'New Mirror', new_mirror_path %>
<% end %>
