<% content_for :title, "#{@mirror.url}" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @mirror.url %>
</p>

<p>
  <b>Description:</b>
  <%= @mirror.description %>
</p>

<p>
  <b>Country:</b>
  <%= @mirror.country %>
</p>

<%= link_to 'Edit', edit_mirror_path(@mirror) %> |
<%= link_to 'Back', mirrors_path %>
