<% content_for :title, "Listing releases" %>

<table>
  <tr>
    <th>Name</th>
    <th>Stable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @releases.each do |release| %>
  <tr>
    <td><%= release.name %></td>
    <td><%= release.stable %></td>
    <td><% if can?( :read, release ) %> <%= link_to 'Show', release %> <% end %></td>
    <td><% if can?( :update, release ) %> <%= link_to 'Edit', edit_release_path(release) %> <% end %></td>
    <td><% if can?( :destroy, release ) %> <%= link_to 'Destroy', release, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %></td>
  </tr>
<% end %>
</table>

<br />

<% if can?( :create, Release ) %>
    <%= link_to 'New Release', new_release_path %>
<% end %>
