<% content_for :title, "Release #{@release.name}" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @release.name %>
</p>

<p>
  <b>Stable:</b>
  <%= @release.stable %>
</p>

<% if can? :update, @release %>
    <%= link_to 'Edit', edit_release_path(@release) %> |
<% end %>
<%= link_to 'Back', releases_path %>
