<h1>Listing repository types</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Path part</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @repository_types.each do |repository_type| %>
  <tr>
    <td><%= repository_type.rtype %></td>
    <td><%= repository_type.path_part %></td>
    <td><%= link_to 'Show', repository_type %></td>
    <td><%= link_to 'Edit', edit_repository_type_path(repository_type) %></td>
    <td><%= link_to 'Destroy', repository_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New repository type', new_repository_type_path %>
