<% content_for :title, "Listing build mirrors" %>

<table>
  <tr>
    <th>Url</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @build_mirrors.each do |build_mirror| %>
  <tr>
    <td><%= build_mirror.url %></td>
    <td><%= build_mirror.description %></td>
    
    <td> <% if can? :read, build_mirror %> <%= link_to 'Show', build_mirror %> <% end %> </td>
    <td> <% if can? :update, build_mirror %> <%= link_to 'Edit', edit_build_mirror_path(build_mirror) %> <% end %> </td>
    <td> <% if can? :destroy, build_mirror %> <%= link_to 'Destroy', build_mirror, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %></td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, BuildMirror %>
    <%= link_to 'New build mirror', new_build_mirror_path %>
<% end %>
