<% content_for :title, "Listing build mirrors" %>

<table>
  <tr>
    <th>Url</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @build_mirrors.each do |build_mirror| %>
  <tr>
    <td><%= build_mirror.url %></td>
    <td><%= build_mirror.description %></td>
    <td><%= link_to 'Show', build_mirror %></td>
    <td><%= link_to 'Edit', edit_build_mirror_path(build_mirror) %></td>
    <td><%= link_to 'Destroy', build_mirror, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New build mirror', new_build_mirror_path %>
