<% content_for :title, "#{@build_mirror.url}" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @build_mirror.url %>
</p>

<p>
  <b>Description:</b>
  <%= @build_mirror.description %>
</p>

<% if can? :update, @build_mirror %>
    <%= link_to 'Edit', edit_build_mirror_path(@build_mirror) %> |
<% end %>
<%= link_to 'Back', build_mirrors_path %>
