<% content_for :title, "Listing architectures" %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @arches.each do |arch| %>
  <tr>
    <td><%= arch.name %></td>
    <td><% if can?( :read, arch ) %> <%= link_to 'Show', arch %> <% end %></td>
    <td> <% if can?( :update, arch ) %> <%= link_to 'Edit', edit_arch_path(arch) %> <% end %> </td>
    <td> <% if can?( :destroy, arch ) %> <%= link_to 'Destroy', arch, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %> </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Arch %>
    <%= link_to 'New architecure', new_arch_path %>
<% end %>
